<template>
  <div class="container">
    <h2>Task List</h2>
    <form v-on:submit.prevent>
      <input type="text" v-model="body">
      <button @click.prevent="createTask">保存</button>
    </form>
    <ul>
      <li v-for="(task, index) in tasks" :key="task.id">
        <input
          type="checkbox"
          v-on:change="doneChange(index, task.id, task.done)"
          v-model="task.done"
        >
        <span :class="{ done: task.done }">{{ task.body }}</span>
        <button v-on:click="deleteTask(index, task.id)">削除</button>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios"

export default {
  data: function () {
    return {
　　　 //todoリスト
      tasks: [],
      //テキストボックスの値
      body: "",
    }
  },
  //一覧読み込み
  mounted () {
    axios.get('/api/v1/tasks').then((response) => {
      this.tasks = response.data
      }).catch(() => {
        alert("エラー");
      });
  },
  methods: {
    //Todo作成
    createTask() {
      axios.post("/api/v1/tasks", { body: this.body }).then((response) => {
        this.tasks.unshift(response.data);
        this.body = "";
      }).catch(() => {
        alert("エラー");
      });
    },
    //checkボックスで発火する済んだかどうかのやつ
    doneChange(index, donechange_id, done_flg) {
      axios.put(`/api/v1/todos/${donechange_id}`, { done: done_flg }).then((response) => {
      }).catch(() => {
        alert("エラー");
      });
    },
    //Todo削除
    deleteTask(index, delete_id) {
      axios.delete(`/api/v1/tasks/${delete_id}`).then((response) => {
        this.tasks.splice(index, 1);
      }).catch(() => {
        alert("エラー");
      });
    }
  }
}
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    li {
      span.done {
        //チェックボックスで発火する取り消し線
        text-decoration: line-through;
      }
    }
  }
</style>